@use 'styles/variables/media';
@use 'styles/variables/placeholder' as *;

.course {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 320px;
  margin: 0px;
  padding: 10px 0px 10px 16px;
  scroll-snap-align: start;

  * {
    transition: all 0.3s ease;
  }

  h2 {
    font-size: 35px;
    font-weight: 500;
  }

  &:hover {
    background: var(--primary-block-color);
  }

  &Item {
    &Container {
      display: flex;
      flex-direction: row;
    }

    &Grade {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      border: 2px solid;
      border-radius: 5px;
      &:hover {
        background: var(--button-hover);
      }
      span {
        font-size: 26px;
        font-weight: 500;
      }
    }

    &Content {
      margin-left: 10px;
      h3 {
        color: var(--primary-text-color);
        margin: 0px 0px 5px;
        font-size: 16px;
        font-weight: 400;
      }
      p {
        color: var(--secondary-text-color);
        margin: 0px;
        font-size: 14px;
        font-weight: 400;
      }
    }
  }

  &Option {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0px;
    width: 50px;
    height: 50px;
    border-radius: 100%;

    cursor: pointer;

    &:hover {
      background: var(--button-hover);
    }

    span i {
      font-size: 16px;
    }
  }
}
