@use 'styles/variables/media';
@use 'styles/variables/placeholder' as *;

.main {
  h2 {
    font-size: 35px;
    font-weight: 500;
  }
}

.course {
  --profile-picture-size: 200px;
  --course-gap-left: 16px;
  * {
    transition: all 0.5s ease;
  }

  h2 {
    font-size: 35px;
    font-weight: 500;
  }
}

.chart {
}

.progress {
  text {
    fill: var(--secondary-text-color) !important;
  }

  // h2 {
  //   font-size: 30px;
  //   font-weight: 500;
  //   --start: var(--primary-text-color);
  //   --end: var(--primary-text-color);
  //   -webkit-background-clip: text;
  //   -webkit-text-fill-color: transparent;
  //   background-clip: text;
  //   background-image: linear-gradient(90deg, var(--start), var(--end));
  // }

  > div {
    height: 250px;
  }
  div {
    background-color: var(--background-color) !important;
  }
}

.pie {
  display: flex;
  flex-direction: column;

  text {
    fill: var(--secondary-text-color) !important;
  }

  // h2 {
  //   font-size: 30px;
  //   font-weight: 500;
  //   --start: var(--primary-text-color);
  //   --end: var(--primary-text-color);
  //   -webkit-background-clip: text;
  //   -webkit-text-fill-color: transparent;
  //   background-clip: text;
  //   background-image: linear-gradient(90deg, var(--start), var(--end));
  // }

  @include media.after-mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  &Item {
    @include media.after-mobile {
      max-width: 50vw;
    }

    > div {
      height: 250px;
    }
    div {
      background-color: var(--background-color) !important;
    }
  }
}
